DEFAULT /boot/isolinux/vesamenu.c32
TIMEOUT 300

PROMPT 0

# MENU TITLE COMPUTERBILD Notfall-System 2.0
MENU TITLE
MENU BACKGROUND /boot/isolinux/start.png
MENU TABMSG  
MENU AUTOBOOT Autostart in # Sekunde{,n}
# MENU AUTOBOOT Start in # Sekunde{,n}
MENU COLOR title * #00000000 #00ffffff
MENU COLOR sel *   #ffffffff #ff5cc33c
# MENU COLOR sel * #ffffffff #a0000000
MENU COLOR unsel * #ffffffff #00000000
MENU COLOR disabled * #ffffffff #00383838
MENU COLOR timeout * #ffffffff #60000000
MENU COLOR timeout_msg * #ffffffff #60000000
MENU COLOR tabmsg * #ffffffff #00383838
MENU COLOR cmdline * #ffffffff #df303030
MENU COLOR cmdmark * #ffff0000 #00000000 
MENU COLOR border * #00ffffff #00303030 none
MENU COLOR help * #ff000000 #00ffffff none
MENU HELPMSGROW 21
MENU HELPMSGENDROW 24
MENU TIMEOUTROW 11
MENU ROWS 6
MENU CMDLINEROW 19
# MENU MARGIN 14
# MENU WIDTH 76


LABEL back
MENU LABEL <- zurueck
KERNEL /boot/isolinux/vesamenu.c32
APPEND /boot/isolinux/isolinux.cfg

###### 

LABEL safeinac
MENU LABEL Abgesicherter Start
MENU DISABLE

LABEL 100
MENU LABEL Safe ACPI settings + VESA graphics 1024x768
MENU INDENT 2
KERNEL /boot/isolinux/l2633vn
APPEND initrd=/boot/isolinux/devs.img,/boot/isolinux/initram.img,/boot/isolinux/i2633vn.img ramdisk_size=100000 vga=788 ultraquiet=1 security=none skipcheck=1 quiet lang=de  toram=999999999 skipservices=|earlynet|installer|xconfgui|roothash|monitortest|ssh|firewall| xorgconf=/etc/X11/xorg.conf.vesa xorgscreen=Screen_TFT_1024x768 hwid=unknown noacpi acpi=no noapic nolapic usbsettle=20 laxsudo=1

LABEL 101
MENU LABEL Safe ACPI settings + VESA graphics auto
MENU INDENT 2
KERNEL /boot/isolinux/l2633vn
APPEND initrd=/boot/isolinux/devs.img,/boot/isolinux/initram.img,/boot/isolinux/i2633vn.img ramdisk_size=100000 vga=788 ultraquiet=1 security=none skipcheck=1 quiet lang=de  toram=999999999 skipservices=|earlynet|installer|xconfgui|roothash|monitortest|ssh|firewall| xorgconf=/etc/X11/xorg.conf.vesa xorgscreen=default_screen hwid=unknown noacpi acpi=no noapic nolapic usbsettle=20 laxsudo=1

LABEL 102
MENU LABEL Safe ACPI settings + Xorg graphics auto
MENU INDENT 2
KERNEL /boot/isolinux/l2633vn
APPEND initrd=/boot/isolinux/devs.img,/boot/isolinux/initram.img,/boot/isolinux/i2633vn.img ramdisk_size=100000 vga=788 ultraquiet=1 security=none skipcheck=1 quiet lang=de  toram=999999999 skipservices=|earlynet|installer|xconfgui|roothash|ssh|firewall| hwid=unknown noacpi acpi=no noapic nolapic usbsettle=20 laxsudo=1

LABEL 103
MENU LABEL VESA graphics 1024x768
MENU INDENT 2
KERNEL /boot/isolinux/l2633vn
APPEND initrd=/boot/isolinux/devs.img,/boot/isolinux/initram.img,/boot/isolinux/i2633vn.img ramdisk_size=100000 vga=788 ultraquiet=1 security=none skipcheck=1 quiet lang=de  toram=999999999 skipservices=|earlynet|installer|xconfgui|roothash|monitortest|ssh|firewall| xorgconf=/etc/X11/xorg.conf.vesa xorgscreen=Screen_TFT_1024x768 hwid=unknown laxsudo=1

LABEL 104
MENU INDENT 2
MENU LABEL VESA graphics auto
KERNEL /boot/isolinux/l2633vn
APPEND initrd=/boot/isolinux/devs.img,/boot/isolinux/initram.img,/boot/isolinux/i2633vn.img ramdisk_size=100000 vga=788 ultraquiet=1 security=none skipcheck=1 quiet lang=de  toram=999999999 skipservices=|earlynet|installer|xconfgui|roothash|monitortest|ssh|firewall| xorgconf=/etc/X11/xorg.conf.vesa xorgscreen=default_screen hwid=unknown laxsudo=1

LABEL 105
MENU INDENT 2
MENU LABEL VNC statt lokaler Grafik (unsicher!)
KERNEL /boot/isolinux/l2633vn
APPEND initrd=/boot/isolinux/devs.img,/boot/isolinux/initram.img,/boot/isolinux/i2633vn.img ramdisk_size=100000 vga=788 ultraquiet=1 security=none skipcheck=1 quiet lang=de  toram=999999999 skipservices=|installer|xconfgui|roothash|monitortest|ssh|firewall| xorgconf=/etc/X11/xorg.conf.vesa xorgscreen=default_screen hwid=unknown laxsudo=1 xvnc=|remote|1024x768|24|

LABEL support
MENU INDENT 2
MENU LABEL Reverse VNC zu support.mattiasschlenker.de
KERNEL /boot/isolinux/l2633vn
APPEND initrd=/boot/isolinux/devs.img,/boot/isolinux/initram.img,/boot/isolinux/i2633vn.img ramdisk_size=100000 vga=788 ultraquiet=1 security=none skipcheck=1 quiet lang=de  toram=999999999 skipservices=|installer|xconfgui|roothash|monitortest|ssh|firewall| xorgconf=/etc/X11/xorg.conf.vesa xorgscreen=default_screen hwid=unknown laxsudo=1 xvnc=|reverse|1280x800|24|support.mattiasschlenker.de|
TEXT HELP
  ACHTUNG! Kontaktieren Sie bitte Mattias Schlenker, bevor Sie
  diese Option auswaehlen! ms@mattiasschlenker.de
ENDTEXT

###############

LABEL safeinac
MENU LABEL Abgesicherter Start (2.6.34)
MENU DISABLE

LABEL 0
MENU LABEL Safe ACPI settings + VESA graphics 1024x768
MENU INDENT 2
KERNEL /boot/isolinux/l2634vn
APPEND initrd=/boot/isolinux/devs.img,/boot/isolinux/initram.img,/boot/isolinux/i2634vn.img ramdisk_size=100000 vga=788 ultraquiet=1 security=none skipcheck=1 quiet lang=de  toram=999999999 skipservices=|earlynet|installer|xconfgui|roothash|monitortest|ssh|firewall| xorgconf=/etc/X11/xorg.conf.vesa xorgscreen=Screen_TFT_1024x768 hwid=unknown noacpi acpi=no noapic nolapic usbsettle=20 laxsudo=1

LABEL 1
MENU LABEL Safe ACPI settings + VESA graphics auto
MENU INDENT 2
KERNEL /boot/isolinux/l2634vn
APPEND initrd=/boot/isolinux/devs.img,/boot/isolinux/initram.img,/boot/isolinux/i2634vn.img ramdisk_size=100000 vga=788 ultraquiet=1 security=none skipcheck=1 quiet lang=de  toram=999999999 skipservices=|earlynet|installer|xconfgui|roothash|monitortest|ssh|firewall| xorgconf=/etc/X11/xorg.conf.vesa xorgscreen=default_screen hwid=unknown noacpi acpi=no noapic nolapic usbsettle=20 laxsudo=1

LABEL 2
MENU LABEL Safe ACPI settings + Xorg graphics auto
MENU INDENT 2
KERNEL /boot/isolinux/l2634vn
APPEND initrd=/boot/isolinux/devs.img,/boot/isolinux/initram.img,/boot/isolinux/i2634vn.img ramdisk_size=100000 vga=788 ultraquiet=1 security=none skipcheck=1 quiet lang=de  toram=999999999 skipservices=|earlynet|installer|xconfgui|roothash|ssh|firewall| hwid=unknown noacpi acpi=no noapic nolapic usbsettle=20 laxsudo=1

LABEL 3
MENU LABEL VESA graphics 1024x768
MENU INDENT 2
KERNEL /boot/isolinux/l2634vn
APPEND initrd=/boot/isolinux/devs.img,/boot/isolinux/initram.img,/boot/isolinux/i2634vn.img ramdisk_size=100000 vga=788 ultraquiet=1 security=none skipcheck=1 quiet lang=de  toram=999999999 skipservices=|earlynet|installer|xconfgui|roothash|monitortest|ssh|firewall| xorgconf=/etc/X11/xorg.conf.vesa xorgscreen=Screen_TFT_1024x768 hwid=unknown laxsudo=1

LABEL 4
MENU INDENT 2
MENU LABEL VESA graphics auto
KERNEL /boot/isolinux/l2634vn
APPEND initrd=/boot/isolinux/devs.img,/boot/isolinux/initram.img,/boot/isolinux/i2634vn.img ramdisk_size=100000 vga=788 ultraquiet=1 security=none skipcheck=1 quiet lang=de  toram=999999999 skipservices=|earlynet|installer|xconfgui|roothash|monitortest|ssh|firewall| xorgconf=/etc/X11/xorg.conf.vesa xorgscreen=default_screen hwid=unknown laxsudo=1

LABEL 105
MENU INDENT 2
MENU LABEL VNC statt lokaler Grafik (unsicher!)
KERNEL /boot/isolinux/l2634vn
APPEND initrd=/boot/isolinux/devs.img,/boot/isolinux/initram.img,/boot/isolinux/i2634vn.img ramdisk_size=100000 vga=788 ultraquiet=1 security=none skipcheck=1 quiet lang=de  toram=999999999 skipservices=|installer|xconfgui|roothash|monitortest|ssh|firewall| xorgconf=/etc/X11/xorg.conf.vesa xorgscreen=default_screen hwid=unknown laxsudo=1 xvnc=|remote|1024x768|24|

LABEL install
MENU LABEL Installation
MENU DISABLE

LABEL 10
MENU LABEL Safe ACPI settings + VESA graphics 1024x768
MENU INDENT 2
KERNEL /boot/isolinux/l2634vn
APPEND initrd=/boot/isolinux/devs.img,/boot/isolinux/initram.img,/boot/isolinux/i2634vn.img ramdisk_size=100000 vga=788 ultraquiet=1 security=none skipcheck=1 quiet lang=de toram=9999999999  skipservices=|xconfgui|dbus|wicd|runtimeconf|alsaprepare|ffprep|roothash|  hwid=unknown xorgconf=/etc/X11/xorg.conf.vesa xorgscreen=Screen_TFT_1024x768 hwid=unknown noacpi acpi=no noapic nolapic usbsettle=20

LABEL 11
MENU LABEL Safe ACPI settings + VESA graphics auto
MENU INDENT 2
KERNEL /boot/isolinux/l2634vn
APPEND initrd=/boot/isolinux/devs.img,/boot/isolinux/initram.img,/boot/isolinux/i2634vn.img ramdisk_size=100000 vga=788 ultraquiet=1 security=none skipcheck=1 quiet lang=de toram=9999999999  skipservices=|xconfgui|dbus|wicd|runtimeconf|alsaprepare|ffprep|roothash|  hwid=unknown xorgconf=/etc/X11/xorg.conf.vesa xorgscreen=default_screen hwid=unknown noacpi acpi=no noapic nolapic usbsettle=20


