[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Thunderbird
Comment=
Categories=Application;
Exec=/usr/bin/thunderbird
Icon=/opt/thunderbird/lib/thunderbird-2.0.0.22/icons/mozicon50.xpm
Terminal=false
StartupNotify=true
