DEFAULT /boot/isolinux/menu.c32
TIMEOUT 300

PROMPT 0

MENU TITLE LessLinux Search and Rescue 1.0
# MENU BACKGROUND /boot/isolinux/start.png
# MENU TABMSG  
# MENU AUTOBOOT Autostart in # Sekunde{,n}
# MENU AUTOBOOT Start in # Sekunde{,n}

LABEL back
MENU LABEL <- zurueck
KERNEL /boot/isolinux/menu.c32
APPEND /syslinux.cfg

LABEL safeinac
MENU LABEL Abgesicherter Start
MENU DISABLE

LABEL 100
MENU LABEL Safe ACPI settings + VESA graphics 1024x768
MENU INDENT 2
KERNEL /boot/isolinux/l2634vn
APPEND initrd=/boot/isolinux/devs.img,/boot/isolinux/initram.img,/boot/isolinux/i2634vn.img ramdisk_size=100000 vga=788 ultraquiet=1 security=none skipcheck=1 quiet lang=de  toram=999999999 skipservices=|mountcdrom|loadata|installer|xconfgui|roothash|monitortest|smacknet|ssh|firewall|mountdrives| xorgconf=/etc/X11/xorg.conf.vesa xorgscreen=Screen_TFT_1024x768 hwid=unknown noacpi acpi=no noapic nolapic usbsettle=20 laxsudo=1

LABEL 101
MENU LABEL Safe ACPI settings + VESA graphics auto
MENU INDENT 2
KERNEL /boot/isolinux/l2634vn
APPEND initrd=/boot/isolinux/devs.img,/boot/isolinux/initram.img,/boot/isolinux/i2634vn.img ramdisk_size=100000 vga=788 ultraquiet=1 security=none skipcheck=1 quiet lang=de  toram=999999999 skipservices=|mountcdrom|loadata|installer|xconfgui|roothash|monitortest|smacknet|ssh|firewall|mountdrives| xorgconf=/etc/X11/xorg.conf.vesa xorgscreen=default_screen hwid=unknown noacpi acpi=no noapic nolapic usbsettle=20 laxsudo=1

LABEL 102
MENU LABEL Safe ACPI settings + Xorg graphics auto
MENU INDENT 2
KERNEL /boot/isolinux/l2634vn
APPEND initrd=/boot/isolinux/devs.img,/boot/isolinux/initram.img,/boot/isolinux/i2634vn.img ramdisk_size=100000 vga=788 ultraquiet=1 security=none skipcheck=1 quiet lang=de  toram=999999999 skipservices=|mountcdrom|loadata|installer|xconfgui|roothash|smacknet|ssh|firewall|mountdrives| hwid=unknown noacpi acpi=no noapic nolapic usbsettle=20 laxsudo=1

LABEL 103
MENU LABEL VESA graphics 1024x768
MENU INDENT 2
KERNEL /boot/isolinux/l2634vn
APPEND initrd=/boot/isolinux/devs.img,/boot/isolinux/initram.img,/boot/isolinux/i2634vn.img ramdisk_size=100000 vga=788 ultraquiet=1 security=none skipcheck=1 quiet lang=de  toram=999999999 skipservices=|mountcdrom|loadata|installer|xconfgui|roothash|monitortest|smacknet|ssh|firewall|mountdrives| xorgconf=/etc/X11/xorg.conf.vesa xorgscreen=Screen_TFT_1024x768 hwid=unknown laxsudo=1

LABEL 104
MENU INDENT 2
MENU LABEL VESA graphics auto
KERNEL /boot/isolinux/l2634vn
APPEND initrd=/boot/isolinux/devs.img,/boot/isolinux/initram.img,/boot/isolinux/i2634vn.img ramdisk_size=100000 vga=788 ultraquiet=1 security=none skipcheck=1 quiet lang=de  toram=999999999 skipservices=|mountcdrom|loadata|installer|xconfgui|roothash|monitortest|smacknet|ssh|firewall|mountdrives| xorgconf=/etc/X11/xorg.conf.vesa xorgscreen=default_screen hwid=unknown laxsudo=1


########################

