[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=true
Name=evince
Exec=/usr/bin/evince
MimeType=application/pdf;application/postscript;image/tiff

