[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=WLAN Sicherheitscheck
Name[de]=WLAN Sicherheitscheck
Exec=sudo /usr/share/lesslinux/notfallcd4/wpatest.sh
Icon=networking
Type=Application
Categories=CB-Rescue;
