
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Email client
Name[de]=E-Mail-Client
Name[pl]=Email client
Comment=
Categories=Network;
Exec=/usr/bin/thunderbird
Icon=/opt/thunderbird31/lib/thunderbird/chrome/icons/default/default256.png
Terminal=false
StartupNotify=true

