[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Cryptmailer
Name[de]=Tarnmailer
Comment=Send encrypted emails
Comment[de]=COMPUTER BILD Tarnmailer
Categories=Utility;
Exec=/usr/bin/tarnmailer.sh
Icon=/usr/share/icons/tarnmailer.png
Terminal=false
StartupNotify=true
