LABEL back
MENU LABEL <- Powrot do glownego menu
KERNEL /boot/isolinux/menu.c32
APPEND /syslinux.cfg

LABEL full
MENU LABEL Pelny start
MENU DISABLE

###################

LABEL 0
MENU LABEL Bezpieczne ustawienia ACPI + rozdzielczosc VESA 1024x768
# MENU INDENT 2
KERNEL /boot/isolinux/l2633px
APPEND initrd=/boot/isolinux/devs.img,/boot/isolinux/initram.img,/boot/isolinux/i2633px.img ramdisk_size=100000 vga=788 ultraquiet=1 security=smack skipcheck=1 quiet lang=pl  toram=999999999 skipservices=|ssh|earlynet|mountcdrom|loadata|installer|xconfgui|roothash|monitortest| xorgconf=/etc/X11/xorg.conf.vesa xorgscreen=Screen_TFT_1024x768 hwid=unknown noacpi acpi=no noapic nolapic usbsettle=20

LABEL 1
MENU LABEL Bezpieczne ustawienia ACPI + rozdzielczosc VESA auto
# MENU INDENT 2
KERNEL /boot/isolinux/l2633px
APPEND initrd=/boot/isolinux/devs.img,/boot/isolinux/initram.img,/boot/isolinux/i2633px.img ramdisk_size=100000 vga=788 ultraquiet=1 security=smack skipcheck=1 quiet lang=pl  toram=999999999 skipservices=|ssh|earlynet|mountcdrom|loadata|installer|xconfgui|roothash|monitortest| xorgconf=/etc/X11/xorg.conf.vesa xorgscreen=default_screen hwid=unknown noacpi acpi=no noapic nolapic usbsettle=20

LABEL 2
MENU LABEL Bezpieczne ustawienia ACPI + rozdzielczosc Xorg auto
# MENU INDENT 2
KERNEL /boot/isolinux/l2633px
APPEND initrd=/boot/isolinux/devs.img,/boot/isolinux/initram.img,/boot/isolinux/i2633px.img ramdisk_size=100000 vga=788 ultraquiet=1 security=smack skipcheck=1 quiet lang=pl  toram=999999999 skipservices=|ssh|earlynet|mountcdrom|loadata|installer|xconfgui|roothash| hwid=unknown noacpi acpi=no noapic nolapic usbsettle=20

LABEL 3
MENU LABEL Rozdzielczosc VESA 1024x768
# MENU INDENT 2
KERNEL /boot/isolinux/l2633px
APPEND initrd=/boot/isolinux/devs.img,/boot/isolinux/initram.img,/boot/isolinux/i2633px.img ramdisk_size=100000 vga=788 ultraquiet=1 security=smack skipcheck=1 quiet lang=pl  toram=999999999 skipservices=|ssh|earlynet|mountcdrom|loadata|installer|xconfgui|roothash|monitortest| xorgconf=/etc/X11/xorg.conf.vesa xorgscreen=Screen_TFT_1024x768 hwid=unknown

LABEL 4
MENU LABEL Rozdzielczosc VESA auto
# MENU INDENT 2
KERNEL /boot/isolinux/l2633px
APPEND initrd=/boot/isolinux/devs.img,/boot/isolinux/initram.img,/boot/isolinux/i2633px.img ramdisk_size=100000 vga=788 ultraquiet=1 security=smack skipcheck=1 quiet lang=pl  toram=999999999 skipservices=|ssh|earlynet|mountcdrom|loadata|installer|xconfgui|roothash|monitortest| xorgconf=/etc/X11/xorg.conf.vesa xorgscreen=default_screen hwid=unknown

###################

LABEL quick
MENU LABEL Szybki start
MENU DISABLE

LABEL 5
MENU LABEL Bezpieczne ustawienia ACPI + rozdzielczosc VESA 1024x768
# MENU INDENT 2
KERNEL /boot/isolinux/l2633px
APPEND initrd=/boot/isolinux/devs.img,/boot/isolinux/initram.img,/boot/isolinux/i2633px.img ramdisk_size=100000 vga=788 ultraquiet=1 security=smack skipcheck=1 quiet lang=pl  toram=999999999 skipservices=|ssh|earlynet|mountcdrom|loadata|hwproto|xconfgui|installer|runtimeconf|roothash|monitortest| xorgconf=/etc/X11/xorg.conf.vesa xorgscreen=Screen_TFT_1024x768 hwid=unknown noacpi acpi=no noapic nolapic usbsettle=20

LABEL 6
MENU LABEL Bezpieczne ustawienia ACPI + rozdzielczosc VESA auto
# MENU INDENT 2
KERNEL /boot/isolinux/l2633px
APPEND initrd=/boot/isolinux/devs.img,/boot/isolinux/initram.img,/boot/isolinux/i2633px.img ramdisk_size=100000 vga=788 ultraquiet=1 security=smack skipcheck=1 quiet lang=pl  toram=999999999 skipservices=|ssh|earlynet|mountcdrom|loadata|hwproto|xconfgui|installer|runtimeconf|roothash|monitortest| xorgconf=/etc/X11/xorg.conf.vesa xorgscreen=default_screen hwid=unknown noacpi acpi=no noapic nolapic usbsettle=20

LABEL 7
MENU LABEL Bezpieczne ustawienia ACPI + rozdzielczosc Xorg auto
# MENU INDENT 2
KERNEL /boot/isolinux/l2633px
APPEND initrd=/boot/isolinux/devs.img,/boot/isolinux/initram.img,/boot/isolinux/i2633px.img ramdisk_size=100000 vga=788 ultraquiet=1 security=smack skipcheck=1 quiet lang=pl  toram=999999999 skipservices=|ssh|earlynet|mountcdrom|loadata|hwproto|xconfgui|installer|runtimeconf|roothash| hwid=unknown noacpi acpi=no noapic nolapic usbsettle=20

LABEL 8
MENU LABEL Grafika VESA 1024x768
# MENU INDENT 2
KERNEL /boot/isolinux/l2633px
APPEND initrd=/boot/isolinux/devs.img,/boot/isolinux/initram.img,/boot/isolinux/i2633px.img ramdisk_size=100000 vga=788 ultraquiet=1 security=smack skipcheck=1 quiet lang=pl  toram=999999999 skipservices=|ssh|earlynet|mountcdrom|loadata|hwproto|xconfgui|installer|runtimeconf|roothash|monitortest| xorgconf=/etc/X11/xorg.conf.vesa xorgscreen=Screen_TFT_1024x768 hwid=unknown

LABEL 9
MENU LABEL Grafika VESA auto
# MENU INDENT 2
KERNEL /boot/isolinux/l2633px
APPEND initrd=/boot/isolinux/devs.img,/boot/isolinux/initram.img,/boot/isolinux/i2633px.img ramdisk_size=100000 vga=788 ultraquiet=1 security=smack skipcheck=1 quiet lang=pl  toram=999999999 skipservices=|ssh|earlynet|mountcdrom|loadata|hwproto|xconfgui|installer|runtimeconf|roothash|monitortest| xorgconf=/etc/X11/xorg.conf.vesa xorgscreen=default_screen hwid=unknown
