[Partition retten]
row=3
col=0

[ClamAV]
row=0
col=2

[Platte klonen]
row=5
col=0

[Sicher löschen]
row=6
col=0

[LessLinux]
row=2
col=0

[Startsektor neu]
row=0
col=1

[Kennwort neu]
row=2
col=1

[Platte testen]
row=3
col=1

[Daten retten]
row=1
col=1

[Laufwerke]
row=4
col=1

[Netzwerk]
row=1
col=0

[Web Browser]
row=5
col=1

[Daten brennen]
row=4
col=0

[Persönliches Verzeichnis]
row=0
col=0

