
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Firefox
Comment=Firefox Webbrowser
Categories=Application;
Exec=/usr/bin/firefox
Icon=/opt/firefox35/lib/firefox/icons/mozicon128.png
Terminal=false
StartupNotify=true
