
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Kennwort neu
Comment=
Categories=CB-Rescue;
Exec=/usr/bin/chntpw-starter.rb
Icon=system-config-users
Terminal=false
StartupNotify=true

