
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Platte klonen
Comment=
Categories=CB-Rescue;
Exec=/usr/bin/ddrescue-starter.sh
Icon=stock_save
Terminal=false
StartupNotify=true

