
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Disks
Name[de]=Laufwerke
Name[pl]=Dyski
Comment=
Categories=Application;
Exec=mmmm.rb
Icon=gnome-dev-harddisk
Terminal=false
StartupNotify=true
