
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Web Browser
Name[pl]=Przeglądarka internetowa
Comment=Web Browser
Categories=Application;
Exec=/usr/bin/firefox
Icon=/opt/firefox50/icons/mozicon128.png
Terminal=false
StartupNotify=true
