[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=LessLinux
Comment=Visit the LessLinux website
Comment[de]=Zur LessLinux-Webseite
Categories=Application;
Exec=/usr/bin/firefox http://www.lesslinux.de/ 
Icon=www
Terminal=false
StartupNotify=true


