[Startsektor neu]
row=3
col=1

[Kennwort neu]
row=4
col=0

[Platte testen]
row=1
col=0

[Daten retten]
row=2
col=1

[Daten brennen]
row=5
col=1

[Laufwerke]
row=5
col=0

[Partition retten]
row=3
col=0

[Netzwerk]
row=6
col=1

[Kaspersky]
row=1
col=1

[Firefox]
row=6
col=0

[Sicher löschen]
row=4
col=1

[Platte klonen]
row=2
col=0

[Papierkorb]
row=0
col=1

[Persönliches Verzeichnis]
row=0
col=0

