[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Hacker-Tools
Name[de]=Hacker-Tools
Exec=/usr/bin/forensic-launcher.sh
Icon=/usr/share/icons/forensic-launcher.png
Type=Application
Categories=CB-Rescue;
