[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Hacker Tools online manual
Name[de]=Hacker-Tools Online Hilfe
Exec=firefox https://doc.schlenker.dk/forensic-tools/
Icon=/usr/share/icons/forensic-launcher-doc.png
Type=Application
Categories=CB-Rescue;
