[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=WPA Security Analysis
Name[de]=WPA Sicherheitsanalyse
Exec=sudo /usr/bin/wpa-cracker.sh
Icon=network
Type=Application
Categories=CB-Rescue;
