
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Image viewer
Name[de]=Bildbetrachter
Name[pl=Przeglądarka grafiki
Comment=Open image files in common formats
Comment[de]=Öffnen Sie Bilddateien in gängigen Formaten
Comment[pl]=Otwórz pliki graficzne w popularnych formatach
Categories=llbank-misc;
Exec=ristretto
Icon=image
Terminal=false
StartupNotify=true

# OPEN as UTF-8!
# some umlauts to ensure: äöü