
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Visit bank site
Name[de]=Bank besuchen
Name[pl]=Odwiedź stronę banku
Comment=Open the web page of your bank
Comment[de]=Online Banking mit Firefox
Comment[pl]=Bankowość online z Firefoxem
Categories=llbank-bank;
Exec=/usr/bin/ff_bankwrapper.sh
Icon=/usr/share/icons/money.png
Terminal=false
StartupNotify=true

# OPEN as UTF-8!
# some umlauts to ensure: äöü