
[Desktop Entry]
Type=Application
Name=Access disks
Name[de]=Zugriff auf Laufwerke
Name[pl]=Dostęp do dysków 
Comment=Mount and unmount disks and thumb drives
Comment[de]=Binden Sie Laufwerke ein oder lösen Sie diese
Comment[pl]=Montuj napędy lub odmontowuj je
Icon=block-device
Exec=mmmm.rb
Path=/home/surfer
Terminal=false
StartupNotify=true
Categories=llbank-misc;

# OPEN as UTF-8!
# some umlauts to ensure: äöü
