[Desktop Entry]
Categories=llbank-config;Application;Network;
Exec=wicd-gtk --no-tray
GenericName=Network Manager
Icon=network-wireless
Icon[en_US]=network-wireless
Icon[pl]=network-wireless
Name=Wicd Network Manager
Name[en_US]=Wicd Network Manager
Name[pl]=Wicd Network Manager
Comment=Start the Wicd client without system tray icon
Comment[en_US]=Start the Wicd client without system tray icon
Comment[de]=Richten Sie Ihre Ethernet- und WLAN-Netzwerke ein
Comment[pl]=Skonfiguruj swoje sieci ethernet i WLAN
Terminal=false
Type=Application
Version=1.0

# OPEN as UTF-8!
# some umlauts to ensure: äöü
