
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=TrueCrypt
Name[pl]=TrueCrypt
Name[de]=TrueCrypt
Comment=Access TrueCrypt encrypted drives and containers
Comment[de]=Greifen Sie auf TrueCrypt-verschlüsselte Laufwerke und Container zu
Comment[pl]=Korzystaj z napędów i kontenerów zaszyfrowanych za pomocą TrueCrypt
Categories=llbank-misc;Utility;
Exec=/usr/bin/truecrypt
Icon=dialog-password
Terminal=false
StartupNotify=true

# OPEN as UTF-8!
# some umlauts to ensure: äöü
