	
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Configure banks
Name[de]=Bank verwalten
Name[pl]=Zarządzaj bankami
Comment=Configure which bank websites can be accessed
Comment[de]=Bestimmen Sie, auf welche Bankseiten zugegriffen werden darf
Comment[pl]=Określ, na które strony banków wolno wchodzić
Categories=llbank-bank;Application;
Exec=/usr/bin/bankselector_wrapper.sh
Icon=gnome-desktop-config
Terminal=false
StartupNotify=false

# OPEN as UTF-8!
# some umlauts to ensure: äöü
