
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Configure DSL
Name[de]=DSL einrichten
Name[pl]=Skonfiguruj DSL
Comment=Configure your DSL connection
Comment[de]=Richten Sie eine DSL-Verbindung ein
Comment[pl]=Skonfiguruj swoje łącze DSL
Categories=llbank-config;
Exec=zenity --info --text 'Not yet implemented...'
Icon=modem
Terminal=false
StartupNotify=true

# OPEN as UTF-8!
# some umlauts to ensure: äöü
