
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Maestro Micromoney
Name[de]=Geldkarte auslesen
Name[pl]=Maestro Micromoney
Comment=Read the sum stored on your Micromoney chip
Comment[de]=Lesen Sie den aktuellen Stand Ihrer Geldkarte aus
Comment[pl]=Odczytaj aktualny stan twojej karty płatniczej
Categories=llbank-bank;
Exec=/static/bin/geldkarte.sh
Icon=gnome-dev-removable
Terminal=false
StartupNotify=true

# OPEN as UTF-8!
# some umlauts to ensure: äöü
