
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Calculator
Name[de]=Taschenrechner
Name[pl]=Kalkulator
Comment=Open a calculator with finance functions
Comment[de]=Öffnen Sie einen Taschenrechner mit Wirtschaftsfunktionen
Comment[pl]=Otwórz kalkulator z funkcjami ekonomicznymi
Categories=llbank-misc;
Exec=gcalctool
Icon=calc
Terminal=false
StartupNotify=true

# OPEN as UTF-8!
# some umlauts to ensure: äöü
