[Desktop Entry]
Type=Application
Name=Search for updates
Name[de]=Suche nach Aktualisierungen
Name[pl]=Wyszukaj aktualizacje 
Comment=Check if updates are available for Homebanking Plus
Comment[de]=Prüfen Sie, ob Aktualisierungen für Sichere Bank erhältlich sind
Comment[pl]=Sprawdź, czy dostępne są aktualizacje programu Bezpieczny Bank Online
Icon=emblem-important
Exec='/etc/lesslinux/updater/update_wrapper.sh'
Path=/home/surfer
Terminal=false
StartupNotify=false
Categories=llbank-config;

# OPEN as UTF-8!
# some umlauts to ensure: äöü
