
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=PDF-Betrachter
Comment=Betrachter für PDF- und PostScript-Dateien
Categories=Application;
Exec=/usr/bin/evince %f
Icon=evince
Terminal=false
StartupNotify=false
