
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Virenscan (Kaspersky)
Comment=
Categories=CB-Rescue;
Exec=run-kaspersky-gui.sh
Icon=emblem-system
Terminal=false
StartupNotify=true

