
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=GParted
Comment=
Categories=CB-Rescue;
Exec=/usr/bin/gparted_wrapper.sh
Icon=gparted
Terminal=false
StartupNotify=true
GenericName=

