
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Stickcheck
Comment=
Categories=CB-Rescue;
Exec=/usr/bin/gstickcheck -n
Icon=gnome-dev-harddisk
Terminal=false
StartupNotify=true

