
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=PhotoRec
Comment=
Categories=CB-Rescue;
Exec=/usr/bin/photorec-starter.sh
Icon=emblem-photos
Terminal=false
StartupNotify=true

