
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Bootsektor schreiben
Comment=
Categories=CB-Rescue;
Exec=/usr/bin/ms-sys-starter.sh
Icon=gsmartcontrol
Terminal=false
StartupNotify=true

