[Entry 2]
Name=PDF-Betrachter
Comment=Betrachter für PDF- und PostScript-Dateien
Icon=evince
Exec=/usr/bin/evince %f
Path=/home/surfer
Terminal=false
StartupNotify=false

[Global]
MoveFirst=false
ArrowPosition=0

[Entry 0]
Name=Textverarbeitung
Icon=abiword_48
Exec=abiword
Path=/home/surfer
Terminal=false
StartupNotify=false

[Entry 1]
Name=Tabellenkalkulation
Comment=Gnumeric Tabellenkalkulation
Icon=gnumeric
Exec=gnumeric
Path=/home/surfer
Terminal=false
StartupNotify=false

