[Entry 0]
Name=Dateimanager
Comment=Manage files and folders
Icon=file-manager
Exec=thunar
Path=/
Terminal=false
StartupNotify=true

[Global]
MoveFirst=false
ArrowPosition=0

[Entry 1]
Name=Zugriff auf Laufwerke
Comment=
Icon=gnome-dev-harddisk
Exec=mmmm.rb
Path=/home/surfer
Terminal=false
StartupNotify=false

