[Global]
MoveFirst=false
ArrowPosition=0

[Entry 0]
Name=Web Browser
Comment=Surf the internet
Icon=/opt/firefox35/lib/firefox/icons/mozicon128.png
Exec=exo-open --launch WebBrowser
Path=/home/surfer
Terminal=false
StartupNotify=false

