[Global]
MoveFirst=false
ArrowPosition=0

[Entry 0]
Name=Thunderbird
Icon=/opt/thunderbird/lib/thunderbird-2.0.0.22/icons/mozicon50.xpm
Exec=thunderbird
Path=/home/surfer
Terminal=false
StartupNotify=false

