[Entry 2]
Name=PDF Viewer
Name[de]=PDF-Betrachter
Name[ru]=Просмотр PDF-файлов
Name[es]=Visor de Pdf
Name[pl]=Przeglądarka PDF
Icon=evince
Exec=/usr/bin/evince %f
Path=/home/surfer
Terminal=false
StartupNotify=false

[Global]
MoveFirst=false
ArrowPosition=0

[Entry 0]
Name=Text processor
Name[de]=Textverarbeitung
Name[es]=Procesador de texto
Name[ru]=Текстовый процессор
Name[pl]=Edytor tekstu
Icon=abiword_48
Exec=abiword
Path=/home/surfer
Terminal=false
StartupNotify=false

[Entry 1]
Name=Spreadsheets
Name[de]=Tabellenkalkulation
Name[es]=Hoja de cálculo
Name[ru]=Электронная таблица
Name[pl]=Arkusz kalkulacyjny 
Comment=Gnumeric Spreadsheets
Comment[de]=Gnumeric Tabellenkalkulation
Comment[ru]=Электронная таблица
Comment[es]=Hoja de cálculo
Comment[pl]=Arkusz kalkulacyjny
Icon=gnumeric
Exec=gnumeric
Path=/home/surfer
Terminal=false
StartupNotify=false
