[Entry 0]
Name=File manager
Name[de]=Dateimanager
Name[es]=Administrador de ficheros 
Name[ru]=Файловый менеджер
Name[pl]=Menedżer plików 
Comment=Manage files and folders
Comment[de]=Verwalten Sie Dateien und Ordner
Comment[ru]=Файловый менеджер
Comment[es]=Administrador de ficheros
Comment[pl]=Menedżer plików 
Icon=file-manager
Exec=thunar
Path=/
Terminal=false
StartupNotify=true

[Global]
MoveFirst=false
ArrowPosition=0

[Entry 1]
Name=Access to disks
Name[de]=Zugriff auf Laufwerke
Name[ru]=Доступ к дискам
Name[es]=Acceso a discos
Name[pl]=Dostęp do dysków
Comment=Mount drives or view their content
Comment[de]=Binden Sie Laufwerke ein oder lassen Sie sich den Inhalt anzeigen
Comment[ru]=Доступ к дискам
Comment[es]=Acceso a discos
Comment[pl]=Dostęp do dysków
Icon=gnome-dev-harddisk
Exec=mmmm.rb
Path=/home/surfer
Terminal=false
StartupNotify=false

